/* Similar to the other CSS files, add form styling */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

form label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

form input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
}

form button {
    padding: 0.7em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
